.designer {
  @media screen and (max-width: 1199px) {
    & {
      display: none;
    }
  }
  background-color: var(--orange);
  color: var(--white);
  text-align: center;
  margin: 70px auto 0;
  .subtitle {
    padding: 70px 0;
  }
  img {
    &:active,
    &:hover,
    &:focus {
      border: 3px double var(--orange);
      border-radius: 50%;
    }
  }
  .definition {
    &:active,
    &:hover,
    &:focus {
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.1),
        -2px -2px 3px rgba(0, 0, 0, 0.1), 2px -2px 3px rgba(0, 0, 0, 0.1),
        -2px 2px 3px rgba(0, 0, 0, 0.1);
    }
  }
}
.designer-card {
  padding: 20px 0;
  background: var(--white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  .description {
    font-size: 22px;
    font-weight: 300;
    line-height: 1.5;
    width: 70%;
  }
  .definition {
    color: var(--orange);
  }
}
.designer-page {
  margin: 0;
  border-bottom: 3px solid #fff;
  @media screen and (max-width: 1199px) {
    & {
      display: block;
    }
  }
}
