.mens {
  @media screen and (max-width: 1199px) {
    & {
      display: none;
    }
  }
  margin: 70px auto;
  max-width: 1600px;
  height: auto;
  background-color: var(--black);
  background-image: url(./.././images/bg.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    & {
      background-image: url("./.././images/bg@2x.jpg");
    }
  }
  .container {
    padding: 20px 0;
    min-width: 300px;
    max-width: 720px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2px;
  }
  .subtitle {
    color: var(--orange);
    text-align: center;
  }
  .description,
  .defenition {
    color: var(--white);
    text-align: center;
  }
  .description {
    width: 80%;
  }
}
.video-link {
  display: flex;
  gap: 10px;
  svg {
    fill: var(--white);
    margin-top: 3px;
  }
  &:active,
  &:hover,
  &:focus {
    svg {
      fill: var(--visited);
      border-radius: 50%;
      box-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3),
        -2px -2px 3px rgba(255, 255, 255, 0.3),
        2px -2px 3px rgba(255, 255, 255, 0.3),
        -2px 2px 3px rgba(255, 255, 255, 0.3);
    }
    .defenition {
      color: var(--visited);
      text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3),
        -2px -2px 3px rgba(255, 255, 255, 0.3),
        2px -2px 3px rgba(255, 255, 255, 0.3),
        -2px 2px 3px rgba(255, 255, 255, 0.3);
    }
  }
}
.mens-page {
  background: var(--orange);
  border-bottom: 3px solid var(--white);
  .description {
    color: var(--passion);
    text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3),
      -2px -2px 3px rgba(255, 255, 255, 0.3),
      2px -2px 3px rgba(255, 255, 255, 0.3),
      -2px 2px 3px rgba(255, 255, 255, 0.3);
  }
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .subtitle,
  .description {
    text-align: center;
    width: 80%;
  }
  @media screen and (max-width: 1199px) {
    & {
      display: block;
    }
  }
}
