.savings {
  background: var(--orange);
  color: var(--white);
  width: 100vw;
  margin-bottom: 90px;
  @media screen and (max-width: 1199px) {
    & {
      display: none;
    }
  }
}
.savings-items {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 150px;
}
.savings .title {
  margin: 0 0 5px 0;
}
.savings-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.savings-page {
  border-bottom: 3px solid var(--white);
  background: var(--orange);
  color: var(--white);
  .title {
    margin-bottom: 3px;
  }
  @media screen and (max-width: 1199px) {
    & {
      display: block;
    }
  }
}
.savings-items-page {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 55px;
}
.savings-item-page {
  display: flex;
  flex-direction: column;
  align-items: center;
}
