:root {
  // -----colors---------
  --orange: #f46a06;
  --black: #000;
  --light-black: #111;
  --white: #fff;
  --grey: #555;
  //   -------fonts----------
  --main-font: "Montserrat", sans-serif;
  --second-font: "Quicksand", sans-serif;
  --semibold-weight: 500;
  --bold-weight: 700;
  --line-height: 1.75;
  --letter-spacing: 0.03;
  //   -------animation----------
  --main-transition: 350ms cubic-bezier(0.1, 0, 0.2, 3);
}
